#### Step 1: Import

In [1]:
# Import packages
import pandas as pd

In [2]:
# misc_data folder
airports = pd.read_csv('misc_data/master/airports.csv')
carriers = pd.read_csv('misc_data/master/carriers.csv')
plane_data = pd.read_csv('misc_data/master/plane-data.csv')
var_desc = pd.read_csv('misc_data/master/variable-descriptions.csv')

In [45]:
# Specify columns to drop
#df8991.drop(['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis=1, inplace=True)
#df8991 = df8991.dropna(axis=1,how='all')

# Confirm changes
df8991.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1989,1,23,1,1419.0,1230,1742.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1989,1,24,2,1255.0,1230,1612.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1989,1,25,3,1230.0,1230,1533.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1989,1,26,4,1230.0,1230,1523.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1989,1,27,5,1232.0,1230,1513.0,1552,UA,183,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [46]:
# Drop NAN columns
df8991 = df8991.dropna(axis=1, how='all')

In [47]:
df8991.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,1.538902e+07,1.538902e+07,1.538902e+07,1.538902e+07,1.521889e+07,1.538902e+07,1.517551e+07,1.538902e+07,1.538902e+07,1.517551e+07,1.538902e+07,1.517551e+07,1.521889e+07,1.524233e+07,1.538902e+07,1.538902e+07
mean,1.990002e+03,6.521330e+00,1.570722e+01,3.939363e+00,1.357816e+03,1.350679e+03,1.495174e+03,1.495626e+03,7.672282e+02,1.098992e+02,1.100043e+02,6.644893e+00,6.949349e+00,6.323705e+02,1.105516e-02,2.818763e-03
std,8.108543e-01,3.441872e+00,8.781935e+00,1.991280e+00,4.778615e+02,4.717206e+02,4.957514e+02,4.849368e+02,5.554877e+02,6.444186e+01,6.405613e+01,2.432015e+01,2.230147e+01,5.185339e+02,1.045607e-01,5.301715e-02
min,1.989000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-5.910000e+02,-6.000000e+01,-1.437000e+03,-1.084000e+03,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.989000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.360000e+02,9.300000e+02,1.117000e+03,1.116000e+03,3.340000e+02,6.400000e+01,6.500000e+01,-5.000000e+00,0.000000e+00,2.670000e+02,0.000000e+00,0.000000e+00
50%,1.990000e+03,7.000000e+00,1.600000e+01,4.000000e+00,1.338000e+03,1.330000e+03,1.522000e+03,1.521000e+03,6.510000e+02,9.100000e+01,9.000000e+01,1.000000e+00,0.000000e+00,4.570000e+02,0.000000e+00,0.000000e+00
75%,1.991000e+03,1.000000e+01,2.300000e+01,6.000000e+00,1.746000e+03,1.740000e+03,1.919000e+03,1.915000e+03,1.103000e+03,1.400000e+02,1.400000e+02,1.100000e+01,5.000000e+00,8.610000e+02,0.000000e+00,0.000000e+00
max,1.991000e+03,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.400000e+03,2.400000e+03,2.400000e+03,9.851000e+03,1.883000e+03,1.565000e+03,1.438000e+03,1.646000e+03,4.502000e+03,1.000000e+00,1.000000e+00

In [48]:
df8991.info(verbose=True, null_counts=True) # Verbose flag required to display row counts

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15389018 entries, 0 to 5076924
Data columns (total 19 columns):
Year                 15389018 non-null int64
Month                15389018 non-null int64
DayofMonth           15389018 non-null int64
DayOfWeek            15389018 non-null int64
DepTime              15218890 non-null float64
CRSDepTime           15389018 non-null int64
ArrTime              15175512 non-null float64
CRSArrTime           15389018 non-null int64
UniqueCarrier        15389018 non-null object
FlightNum            15389018 non-null int64
ActualElapsedTime    15175512 non-null float64
CRSElapsedTime       15389018 non-null int64
ArrDelay             15175512 non-null float64
DepDelay             15218890 non-null float64
Origin               15389018 non-null object
Dest                 15389018 non-null object
Distance             15242332 non-null float64
Cancelled            15389018 non-null int64
Diverted             15389018 non-null int64
dtypes: float64(6), int64(10), object(3)
memory usage: 2.3+ GB

In [49]:
df89['TailNum'].notnull().sum()

0

Drop NAN columns

In [44]:
df8991.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [43]:
df8991.info(verbose=True, null_counts=True) # Verbose flag required to display row counts

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15389018 entries, 0 to 5076924
Data columns (total 29 columns):
Year                 15389018 non-null int64
Month                15389018 non-null int64
DayofMonth           15389018 non-null int64
DayOfWeek            15389018 non-null int64
DepTime              15218890 non-null float64
CRSDepTime           15389018 non-null int64
ArrTime              15175512 non-null float64
CRSArrTime           15389018 non-null int64
UniqueCarrier        15389018 non-null object
FlightNum            15389018 non-null int64
TailNum              0 non-null float64
ActualElapsedTime    15175512 non-null float64
CRSElapsedTime       15389018 non-null int64
AirTime              0 non-null float64
ArrDelay             15175512 non-null float64
DepDelay             15218890 non-null float64
Origin               15389018 non-null object
Dest                 15389018 non-null object
Distance             15242332 non-null float64
TaxiIn               0 non-null float64
TaxiOut              0 non-null float64
Cancelled            15389018 non-null int64
CancellationCode     0 non-null float64
Diverted             15389018 non-null int64
CarrierDelay         0 non-null float64
WeatherDelay         0 non-null float64
NASDelay             0 non-null float64
SecurityDelay        0 non-null float64
LateAircraftDelay    0 non-null float64
dtypes: float64(16), int64(10), object(3)
memory usage: 3.4+ GB

#### References
Getting csv subdirectories: https://perials.com/getting-csv-files-directory-subdirectories-using-python/ \
Combine csv files: https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/ \
Fix .info() display: https://www.geeksforgeeks.org/python-pandas-dataframe-info/ \
CMD: https://www.tomnash.eu/how-to-combine-multiple-csv-files-into-one-using-cmd/ \
Reset and drop index: https://stackoverflow.com/questions/39616424/pandas-reset-index-creating-level0-column \