## Step 1: Importing Libraries

In [1]:
# Import packages
import pandas as pd

## Step 2: Gathering Data

In [2]:
# misc_data folder
airports = pd.read_csv('misc_data/airports.csv')
carriers = pd.read_csv('misc_data/carriers.csv')
plane_data = pd.read_csv('misc_data/plane-data.csv')
var_desc = pd.read_csv('misc_data/variable-descriptions.csv')

## Step 3: Assessing and Cleaning Data

### Airport Data

In [3]:
# Looking at .info()
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 7 columns):
iata       3376 non-null object
airport    3376 non-null object
city       3364 non-null object
state      3364 non-null object
country    3376 non-null object
lat        3376 non-null float64
long       3376 non-null float64
dtypes: float64(2), object(5)
memory usage: 184.7+ KB

In [4]:
# Viewing the dataframe
airports.head()

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [5]:
# Airports
airports[airports.isna().any(axis=1)]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
1715,HHH,Hilton Head,NaN,NaN,USA,32.224384,-80.697629
2251,MIB,Minot AFB,NaN,NaN,USA,48.415769,-101.358039
2312,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
2752,RCA,Ellsworth AFB,NaN,NaN,USA,44.145094,-103.103567
2759,RDR,Grand Forks AFB,NaN,NaN,USA,47.961167,-97.401167
2794,ROP,Prachinburi,NaN,NaN,Thailand,14.078333,101.378334
2795,ROR,Babelthoup/Koror,NaN,NaN,Palau,7.367222,134.544167
2900,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
2964,SKA,Fairchild AFB,NaN,NaN,USA,47.615058,-117.655803
3001,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384
3355,YAP,Yap International,NaN,NaN,Federated States of Micronesia,9.516700,138.100000

In [6]:
airports.iloc[1136:1137]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727

In [7]:
airports.loc[1136]['city']

nan

In [8]:
airports.iloc[1136:1137]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727

In [9]:
airports.loc[1136, ['city']] = 'San Diego'; airports.loc[1136, ['state']] = 'CA'
airports.loc[1715, ['city']] = 'Beaufort'; airports.loc[1715, ['state']] = 'SC' 
airports.loc[2251, ['city']] = 'Minot'; airports.loc[2251, ['state']] = 'ND'
airports.loc[2312, ['city']] = 'Marquette'; airports.loc[2312, ['state']] = 'MI'
airports.loc[2752, ['city']] = 'Rapid City'; airports.loc[2752, ['state']] = 'SD'
airports.loc[2759, ['city']] = 'Grand Forks'; airports.loc[2759, ['state']] = 'ND'
airports.loc[2794, ['city']] = 'Rota Island'; airports.loc[2794, ['state']] = 'N/A'
airports.loc[2795, ['city']] = 'Babelthuap Island'; airports.loc[2795, ['state']] = 'N/A'
airports.loc[2900, ['city']] = 'State College'; airports.loc[2900, ['state']] = 'PA'
airports.loc[2964, ['city']] = 'Spokane'; airports.loc[2964, ['state']] = 'WA'
airports.loc[3001, ['city']] = 'Saipan Island'; airports.loc[3001, ['state']] = 'N/A'
airports.loc[3355, ['city']] = 'Yap Island'; airports.loc[3355, ['state']] = 'N/A'

Source for airport information: https://www.world-airport-codes.com/

In [10]:
airports.loc[[1136,1715,2251,2312,2752,2759,2794,2795,2900,2964,3001,3355]]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,San Diego,CA,USA,33.127231,-117.278727
1715,HHH,Hilton Head,Beaufort,SC,USA,32.224384,-80.697629
2251,MIB,Minot AFB,Minot,ND,USA,48.415769,-101.358039
2312,MQT,Marquette County Airport,Marquette,MI,USA,46.353639,-87.395361
2752,RCA,Ellsworth AFB,Rapid City,SD,USA,44.145094,-103.103567
2759,RDR,Grand Forks AFB,Grand Forks,ND,USA,47.961167,-97.401167
2794,ROP,Prachinburi,Rota Island,N/A,Thailand,14.078333,101.378334
2795,ROR,Babelthoup/Koror,Babelthuap Island,N/A,Palau,7.367222,134.544167
2900,SCE,University Park,State College,PA,USA,40.851206,-77.846302
2964,SKA,Fairchild AFB,Spokane,WA,USA,47.615058,-117.655803
3001,SPN,Tinian International Airport,Saipan Island,N/A,N Mariana Islands,14.996111,145.621384
3355,YAP,Yap International,Yap Island,N/A,Federated States of Micronesia,9.516700,138.100000

In [11]:
airports['country'].value_counts()

USA                               3372
Thailand                             1
Federated States of Micronesia       1
N Mariana Islands                    1
Palau                                1
Name: country, dtype: int64

In [12]:
airports.loc[1136]

iata                              CLD
airport    MC Clellan-Palomar Airport
city                        San Diego
state                              CA
country                           USA
lat                           33.1272
long                         -117.279
Name: 1136, dtype: object

In [13]:
airports['state'].nunique()

57

In [14]:
airports['state'].value_counts().tail()

N/A    4
CQ     4
AS     3
GU     1
DC     1
Name: state, dtype: int64

In [15]:
airports[airports['state'] == 'AS']

,iata,airport,city,state,country,lat,long
1486,FAQ,Fitiuta,Fitiuta Village,AS,USA,14.215776,-169.423906
2659,PPG,Pago Pago International,Pago Pago,AS,USA,14.331023,-170.710526
3361,Z08,Ofu,Ofu Village,AS,USA,14.184351,-169.670024

In [16]:
airports['city'].groupby(airports['state']).value_counts().head()

state  city
AK     Anchorage    3
       Cordova      2
       Haines       2
       Hoonah       2
       Juneau       2
Name: city, dtype: int64

In [17]:
airports['city'].value_counts().head(10)

Greenville      11
Jackson         10
Houston         10
Columbus         9
Marion           8
Springfield      8
Madison          8
Lancaster        7
Jacksonville     7
Monticello       7
Name: city, dtype: int64

In [18]:
# Checking for duplicate data
airports.duplicated().sum()

0

### Carrier Data

In [19]:
carriers.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

In [20]:
carriers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 2 columns):
Code           1490 non-null object
Description    1491 non-null object
dtypes: object(2)
memory usage: 23.4+ KB

In [21]:
carriers[carriers['Code'].isna()]

    Code              Description
873  NaN  North American Airlines

In [22]:
# Carrier code change
carriers.loc[873, ['Code']] = 'NAA'

In [23]:
# Viewing our changes
carriers[carriers['Code'] == 'NAA']

    Code              Description
873  NAA  North American Airlines

In [24]:
# Checking for duplicate data
carriers.duplicated().sum()

0

In [25]:
# Rename columns
carriers.rename(columns={"Code":"code", "Description":"description"}, inplace=True)

In [26]:
# List columns
carriers.columns

Index(['code', 'description'], dtype='object')

### Plane Data

In [27]:
plane_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5029 entries, 0 to 5028
Data columns (total 9 columns):
tailnum          5029 non-null object
type             4480 non-null object
manufacturer     4480 non-null object
issue_date       4480 non-null object
model            4480 non-null object
status           4480 non-null object
aircraft_type    4480 non-null object
engine_type      4480 non-null object
year             4480 non-null object
dtypes: object(9)
memory usage: 353.7+ KB

In [28]:
plane_data = plane_data.dropna()

In [29]:
plane_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4480 entries, 34 to 5028
Data columns (total 9 columns):
tailnum          4480 non-null object
type             4480 non-null object
manufacturer     4480 non-null object
issue_date       4480 non-null object
model            4480 non-null object
status           4480 non-null object
aircraft_type    4480 non-null object
engine_type      4480 non-null object
year             4480 non-null object
dtypes: object(9)
memory usage: 350.0+ KB

In [30]:
plane_data.head()

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
34,N10156,Corporation,EMBRAER,02/13/2004,EMB-145XR,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2004
35,N102UW,Corporation,AIRBUS INDUSTRIE,05/26/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998
36,N10323,Corporation,BOEING,07/01/1997,737-3TO,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1986
37,N103US,Corporation,AIRBUS INDUSTRIE,06/18/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999
38,N104UA,Corporation,BOEING,01/26/1998,747-422,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998

In [31]:
plane_data['manufacturer'].value_counts()

BOEING                            2061
EMBRAER                            588
BOMBARDIER INC                     547
AIRBUS INDUSTRIE                   434
MCDONNELL DOUGLAS                  253
AIRBUS                             244
MCDONNELL DOUGLAS AIRCRAFT CO      105
CANADAIR                            86
DOUGLAS                             36
SAAB-SCANIA                         28
DEHAVILLAND                         17
MCDONNELL DOUGLAS CORPORATION       14
CESSNA                              12
AEROSPATIALE                         8
AEROSPATIALE/ALENIA                  6
PIPER                                6
BEECH                                5
RAVEN                                3
SIKORSKY                             3
GULFSTREAM AEROSPACE                 2
AERO COMMANDER                       2
MAULE                                2
AVIAT AIRCRAFT INC                   2
BAUMAN RANDY                         1
LEBLANC GLENN T                      1
BOEING OF CANADA LTD                 1
HELIO                                1
STINNETT RON                         1
BELL                                 1
FRIEDEMANN JON                       1
COBB INTL/DBA ROTORWAY INTL IN       1
WOBIG WAYNE R                        1
MARZ BARRY                           1
PAIR MIKE E                          1
MORSE GEORGE JR                      1
AERONCA                              1
AGUSTA SPA                           1
DIAMOND AIRCRAFT IND INC             1
FREDERICK CHRIS K                    1
Name: manufacturer, dtype: int64

In [32]:
plane_data[plane_data['manufacturer'] == 'MCDONNELL DOUGLAS CORPORATION']

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
4403,N900DE,Corporation,MCDONNELL DOUGLAS CORPORATION,03/30/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4409,N901DE,Corporation,MCDONNELL DOUGLAS CORPORATION,04/29/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4417,N902DE,Corporation,MCDONNELL DOUGLAS CORPORATION,05/01/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4425,N903DE,Corporation,MCDONNELL DOUGLAS CORPORATION,05/08/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4435,N904DE,Corporation,MCDONNELL DOUGLAS CORPORATION,06/03/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4444,N905DE,Corporation,MCDONNELL DOUGLAS CORPORATION,06/03/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4458,N906DE,Corporation,MCDONNELL DOUGLAS CORPORATION,11/03/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4468,N907DE,Corporation,MCDONNELL DOUGLAS CORPORATION,11/10/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4479,N908DE,Corporation,MCDONNELL DOUGLAS CORPORATION,12/04/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4489,N909DE,Corporation,MCDONNELL DOUGLAS CORPORATION,12/10/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
4498,N910DE,Corporation,MCDONNELL DOUGLAS CORPORATION,12/28/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
5018,N994DL,Corporation,MCDONNELL DOUGLAS CORPORATION,02/03/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1991
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992

In [33]:
plane_data[plane_data['manufacturer'] == 'DOUGLAS']

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
162,N1309T,Corporation,DOUGLAS,06/17/2004,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
178,N1334U,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1970
526,N1799U,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1969
1145,N3324L,Corporation,DOUGLAS,12/02/1994,DC-9-32,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
1473,N381AA,Corporation,DOUGLAS,12/21/1998,DC-7BF,Valid,Fixed Wing Multi-Engine,Reciprocating,1956
3582,N750NW,Corporation,DOUGLAS,05/03/1996,DC-9-41,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
3595,N752NW,Corporation,DOUGLAS,07/01/1996,DC-9-41,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
3600,N753NW,Corporation,DOUGLAS,05/03/1996,DC-9-41,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
3618,N756NW,Corporation,DOUGLAS,06/28/1996,DC-9-41,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4354,N8920E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4356,N8921E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4358,N8923E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4360,N8925E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4361,N8926E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4363,N8928E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4364,N8929E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4368,N8932E,Corporation,DOUGLAS,06/16/2004,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4370,N8933E,Corporation,DOUGLAS,06/21/2004,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4373,N8938E,Corporation,DOUGLAS,03/13/1995,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4379,N8944E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4380,N8945E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4384,N8960E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4396,N8978E,Corporation,DOUGLAS,08/02/1994,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4400,N8986E,Corporation,DOUGLAS,05/01/1995,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1969
4555,N915RW,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4569,N916RW,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1967
4618,N921RW,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4635,N923RW,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4645,N924RW,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4665,N926NW,Corporation,DOUGLAS,07/31/2000,DC-9-32,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1970
4718,N9332,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4719,N9333,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1968
4722,N9338,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1969
4723,N9339,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1969
4733,N9343,Corporation,DOUGLAS,12/22/1986,DC-9-31,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1969
4734,N9346,Corporation,DOUGLAS,12/22/1986,DC-9-32,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1969

In [34]:
# Checking for duplicate data
plane_data.duplicated().sum()

0

### Variable Descriptions

In [35]:
var_desc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
Variable descriptions    29 non-null float64
Unnamed: 1               30 non-null object
Unnamed: 2               30 non-null object
dtypes: float64(1), object(2)
memory usage: 824.0+ bytes

In [36]:
var_desc.head(30)

,Variable descriptions,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,Name,Description
2,1.0,Year,1987-2008
3,2.0,Month,12-Jan
4,3.0,DayofMonth,31-Jan
5,4.0,DayOfWeek,1 (Monday) - 7 (Sunday)
6,5.0,DepTime,"actual departure time (local, hhmm)"
7,6.0,CRSDepTime,"scheduled departure time (local, hhmm)"
8,7.0,ArrTime,"actual arrival time (local, hhmm)"
9,8.0,CRSArrTime,"scheduled arrival time (local, hhmm)"
10,9.0,UniqueCarrier,unique carrier code
11,10.0,FlightNum,flight number
12,11.0,TailNum,plane tail number
13,12.0,ActualElapsedTime,in minutes
14,13.0,CRSElapsedTime,in minutes
15,14.0,AirTime,in minutes
16,15.0,ArrDelay,"arrival delay, in minutes"
17,16.0,DepDelay,"departure delay, in minutes"
18,17.0,Origin,origin IATA airport code
19,18.0,Dest,destination IATA airport code
20,19.0,Distance,in miles
21,20.0,TaxiIn,"taxi in time, in minutes"
22,21.0,TaxiOut,taxi out time in minutes
23,22.0,Cancelled,was the flight cancelled?
24,23.0,CancellationCode,"reason for cancellation (A = carrier, B = weat..."
25,24.0,Diverted,"1 = yes, 0 = no"
26,25.0,CarrierDelay,in minutes
27,26.0,WeatherDelay,in minutes
28,27.0,NASDelay,in minutes
29,28.0,SecurityDelay,in minutes

In [37]:
# Rename columns
var_desc.rename(columns={"Unnamed: 1":"name", "Unnamed: 2":"description"}, inplace=True)

In [38]:
var_desc = var_desc.dropna()

In [39]:
var_desc.head()

   Variable descriptions        name                          description
2                    1.0        Year                            1987-2008
3                    2.0       Month                               12-Jan
4                    3.0  DayofMonth                               31-Jan
5                    4.0   DayOfWeek              1 (Monday) - 7 (Sunday)
6                    5.0     DepTime  actual departure time (local, hhmm)

In [40]:
var_desc.drop(['Variable descriptions'], axis=1, inplace=True)
var_desc = var_desc.reset_index(drop=True)

In [41]:
var_desc

                 name                                        description
0                Year                                          1987-2008
1               Month                                             12-Jan
2          DayofMonth                                             31-Jan
3           DayOfWeek                            1 (Monday) - 7 (Sunday)
4             DepTime                actual departure time (local, hhmm)
5          CRSDepTime             scheduled departure time (local, hhmm)
6             ArrTime                  actual arrival time (local, hhmm)
7          CRSArrTime               scheduled arrival time (local, hhmm)
8       UniqueCarrier                                unique carrier code
9           FlightNum                                      flight number
10            TailNum                                  plane tail number
11  ActualElapsedTime                                         in minutes
12     CRSElapsedTime                                         in minutes
13            AirTime                                         in minutes
14           ArrDelay                          arrival delay, in minutes
15           DepDelay                        departure delay, in minutes
16             Origin                           origin IATA airport code
17               Dest                      destination IATA airport code
18           Distance                                           in miles
19             TaxiIn                           taxi in time, in minutes
20            TaxiOut                           taxi out time in minutes
21          Cancelled                          was the flight cancelled?
22   CancellationCode  reason for cancellation (A = carrier, B = weat...
23           Diverted                                    1 = yes, 0 = no
24       CarrierDelay                                         in minutes
25       WeatherDelay                                         in minutes
26           NASDelay                                         in minutes
27      SecurityDelay                                         in minutes
28  LateAircraftDelay                                         in minutes

## Step 4: Saving Data

# To prevent the index data being stored twice we can add: index=False
airports.to_csv('misc_data/master/airports_master.csv', index=False)
carriers.to_csv('misc_data/master/carriers_master.csv', index=False)
plane_data.to_csv('misc_data/master/plane-data_master.csv', index=False)
var_desc.to_csv('misc_data/master/variable-descriptions_master.csv', index=False)

In [60]:
import timeit
import numpy

In [67]:
%%timeit
airports.groupby('city').mean()

2.16 ms ± 6.81 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)